html {
    scroll-behavior: smooth;
  }

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  color: inherit;
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    height: 5000px; /* Used to enable scrolling */
    background: linear-gradient(0deg, #e15421 20%, rgb(253, 178, 87) 50%, rgb(255, 255, 255) 85%);
  }

.title {
      font-size: 5rem;
      text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  }

.fill{
    height:4200px
}

.button {display:inline-block; 
  padding:1em 2.0em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  border:0.1em solid #ffffff;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 1.5rem;
  font-family:'Roboto',sans-serif;
  font-weight:500;
  color:#000000;
  background-color:#ffffff;
  text-align:center;
  transition: all 0.2s;
}
.button:hover{
  background-color:#000000;
  border: 0.1em solid #000000;
  color:#ffffff;
}     
.action_btn {
  width: 500px;
  margin: 0.4em auto;
}
    
 .action_btn {
    width: 500px;
    margin: 0 auto;}

.arrow {
  border: solid black;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 20px;
}
.arrow:hover{
  border: solid #e15421;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 20px;
  }
  
.action_arrow {
  width: 500px;
  margin: 0 auto;}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}